.Dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;

    .DialogsWrapper {
        display: flex;
        flex-direction: column;
        .Dialog {
            border: 1px solid blue;
            &.active {
                color: gold;
            }
        }
    }

    .Messages {
        border: 1px solid red;
    }
}



